.container {
  width: 700px;
  margin: 0 auto;
}

@media(max-width: 760px) {
  .container {
    width: 600px
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px
  }
}

@media (max-width: 450px) {
  .container {
    width: 300px;
  }
}
